@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #292829;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}

.maplibregl-ctrl-top-right {
  margin-top: 50px;
  justify-content: center;
}
