@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #292829;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans";
}
