name: CI/CD SAP-Frontend

on:
  push:
    branches: ["main"]
    tags: ["*"]

  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.12
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

  build-and-push:
    needs: quality-check
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update docker metadata with the tag
        uses: docker/metadata-action@v4
        id: meta
        with:
          images: ${{ vars.DOCKER_IMAGE_PROD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          file: Dockerfile.production
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
            ${{ vars.DOCKER_IMAGE_PROD }}:latest
            ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64
